<div class="col-md-12">
  <h2>Visita a Universidad Inca Garcilaso de la Vega</h2>
</div>

<div class="row">

<% if(typeof data.images !== 'undefined'){  %>
<% data.images.map(function(post, i) { %>

<div class="col-xs-12 col-sm-6 col-lg-3">
  <a data-toggle="modal" data-target="#<%= post.label %>">
    <img src="<%= post.image %>" class="img-thumbnail">
  </a>
  <div class="modal fade" id="<%= post.label %>" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Imagen</h4>
        </div>
        <div class="modal-body">
            <img src="<%= post.image %>" class="img-responsive">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<% }); %>
<% } %>

</div>